.home{
    padding: 100px;
    display: flex;
    justify-content: space-around;
    min-height:  100vh;
    position: relative;
}

@keyframes rot {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.MonImage{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    animation: rotation 10s  linear 2s alternate ;
    animation: rot 5s  linear 2s alternate-reverse infinite ;
    border: 10px solid #ffffff;
}
.SectioAcuueil{
    text-align: center;
    width: 400px;
    position: relative;
    max-height: 85vh;
}
.SectioAcuueil h1{
    margin-top: 20px;
    color: var(--second);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reseau{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.monNom{
    font-size: 40px;
    font-family: 'WritingSignature';
    align-items: center;
    margin-top: 20px;
}
.capitale{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paragrapheProfil{
    font-family: "winter";
    font-style: normal;
    font-size: 20px;
    color: var(--thirst);
}
.iconeReseau{
    width: 40px;
    height: 40px;
    font-size: 40px;
    cursor: pointer;
}
.reseau a i{
    color: var(--second);
}
.reseau a i:hover{
    color: var(--third);
    scale: 1.2;
}
a{
    text-decoration: none;
}
.menuLangue{
    position: absolute;
    top: 10px;
    right: 20px;
}
.optionLangue{
    padding: 10px;
    font-size: 10px;
    background-color: transparent;
    color: var(--second);
    padding-right: 20px;
}

/* .scrollDown{
    position: absolute;
    width: 100%;
    bottom: -50x;
    bottom: 0px;
}
.legendeScroll{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    writing-mode: vertical-lr;
    text-align: center;
} */
.bouttonDiscover{
    width: 50%;
    text-transform: capitalize;
    margin-top: 20px;
    background-color: var(--third);
}
.bouttonDiscover:hover{
    width: 50%;
    margin-top: 20px;
    background-color: var(--third);
}

@media (max-width: 500px) {
  
}
@media (max-height: 900px) {
    .MonImage{
        width: 300px;
        height: 300px;
    }
}
@media (max-height: 650px) {
    .MonImage{
        width: 200px;
        height: 200px;
    }
}