.contactContainer{
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}
.contactTitre{
    text-align: center;
    font-style: 18px;
    font-weight: 800;
    margin: 2rem 0;
}

.contactInfo{
    display: grid;
    row-gap: 1rem;
    /* grid-template-columns: 300px; */
}

.contactCard{
    background-color: var(--first);
    border: 1px solid var(--second);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}
.contactCardIcon{
    font-size: 20px;
}
.contactBouttonCard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;

}
.contactCardTitle,
.contactCardData{
    font-size: 15px;
}
.contactCardTitle{
    font-weight: 500;
}
.contactCardData{
    display: block;
}
.contactBoutton{
    color: var(--second);
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}
.contactCardIcon{
    font-size: 1rem;
    transition: .3s;
}
.contactBoutton:hover .contactCardIcon{
    transform: translateX(0.5rem);
}
.contactFormCard{
    position: relative;
    margin-bottom: 2rem;
    height: 5rem;
    width: 600px;
}
.contactFormInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--second);
    background-color: transparent;
    color: var(--second);
    outline: none;
    border-radius: .75rem;
    padding: 1.5rem;
    z-index: 1;
}
.contactFormTag{
    color: var(--second);
    position: absolute;
    top: -1rem;
    left: 1.25rem;
    padding: 0.25rem;
    z-index: 2;
    background-color: var(--backgound);
}
.contactFormArea{
    height: 200px;
    resize: none;
}
.contactFormArea::textarea{
    resize: none;
}
@media (max-width: 1120px) {
    .contactFormCard{
        width: 400px;
    }
}
@media (max-width: 900px) {

   .contactInfo{
        width: 100%;
   }
   .contactCard{
        width: 94%;
        margin-left: 3%;
   }
   .contactContainer{
        grid-template-columns: repeat(1,max-content);
    }
    .contactFormCard{
        justify-content: center;
    }
    .contactForm{
        /* position: relative; */
        width: 100%;
    }
}
@media (max-width: 600px) {
    .contactFormInput{
        width: 90%;
    }
    .contactFormCard{
        margin-left: 5%;
    }
    .writeMe{
        font-size: 15px;
    }
}

/* 
@media (max-width: 900px) {

    .contactInfo{
         display: flex;
         flex-wrap: wrap;
         width: 100%;
         justify-content: space-around;
    }
    .contactCard{
     width: 100px;
    }
    .contactContainer{
         grid-template-columns: repeat(1,max-content);
     }
     .contactFormCard{
         justify-content: center;
     }
     .contactForm{
         width: 100%;
     }
     .contactFormInput{
     }
 }
 @media (max-width: 600px) {
     .contactFormInput{
         width: 90%;
     }
     .contactFormCard{
         margin-left: 5%;
     }
 } */