.about{
    min-height: 100vh;
    
}
.cardAbout{
    display: grid;
    grid-template-columns: 3fr 9fr;
    columns: 1.875rem;
    margin-top: 100px;
}
.aboutStatistique{
    padding: 20px;
    background-color: var(--first);
    box-shadow: var(--shadow);
    border-radius: 30px;
    grid-template-columns: repeat(2,1fr );
    column-gap: 1.75rem;
    align-items: flex-start;
    position: relative;
}
.aboutStatistique::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;border-right: 15px solid --first;
    position: absolute;
    left: -.95rem;
    top: 20%;
}
.aboutDecription{
    margin-bottom: 1rem;
    text-align: justify;
}
.aboutCompetence{
    row-gap: 2rem;
}
.aboutTitrCompetence{
    display: flex;
    justify-content: space-between;
    margin-bottom: .75rem;
}
.aboutNomCompetence{
    font-size: var(--normalFont);
    font-weight: var(--mediumFontWeight);
}
.aboutCompetenceStatistique{
    line-height: 2rem
}
.aboutCompetenceBar,
.pourcentage{
    height: 10px;
    border-radius: 0.25rem;
}
.aboutCompetenceBar{
    background-color: #adadad;
}
.pourcentage{
    display: block;
}
.developpement{
    background-color: var(--titreColor);
}
.designer{
    background-color: var(--four);
}
.photographie{
    background-color: var(--second);
}

.photoAbout{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.aboutNomCompetence{
    text-transform: capitalize;
}
.telechargerCV{
    background-color: var(--third);
}
/* =======aboutFouter========= */
.aboutFooter{
    grid-template-columns: repeat(4 , 1fr);
    column-gap: 1.75rem;
}.aboutStatistique{
    display: block;
    .grid{
        display: block;
    }
}
.aboutBox{
    margin-top: 100px;
    background-color: var(--first);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 1px 2px rgb(151, 141, 141);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aboutBox:hover{
    transform: scale(1.05);

}

.IconeCompetence{
    font-size: 30px;
    color: var(--maty);
}
.aboutTitre{
    font-size: 1.875rem;
    font-weight: bold;
}
.aboutParagraphe{
    color: var(--maty);
    font-weight: bold;
    text-align: center;
}
@media (max-width: 600px) {
    .aboutFooter{
        display: block;
    }
}
@media (max-width: 1500px) {
    .aboutStatistique{
        display: block;
    }
}