.boxCompetence{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 100px;
}
.backEnd{
    width: 400px;
    background-color: var(--first);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
}
.competenceGroup{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.dataCompetence{
    display: flex;
    column-gap: 1rem;
    padding:1rem;
    /* border: 1px  var(--maty); */
    /* border: double; */
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 10px;
}
.nomCompetence{
    margin-bottom: 5px;
    color: var(--second);
    font-weight: 600;
}
.niveauCompetence{
    color: var(--maty);
}

@media (max-width : 1000px) {
    .boxCompetence{
        display: grid;
        
    }
}
@media (max-width : 800px) {
    
} 
@media (max-width : 470px) {
    .backEnd{
        width: 350px;
    }
    .dataCompetence{
        padding: .4rem;
    }
}
@media (max-width : 370px) {
    .backEnd{
        max-width: 300px;
    }
    .competenceGroup{
        grid-template-columns: repeat(1,1fr);
    }
}