.serviceContainer{
    display: grid;
    grid-template-columns: repeat(3,270px);
    justify-content: center;
    column-gap: 4rem;
    margin: 0;
}
.contenuService{
    position: relative;
    border: 1px solid var(--second);
    background-color: var(--first);
    padding: 7rem 0 3rem 2.5rem;
}
 .iconeService{
    display: block;
    font-size: 2rem;
    color: var(--second);
    margin-bottom: 2rem;
 }
 .boutonService{
    display: flex;
    align-items: center;
    column-gap: .50 rem;
    font-size: 20px;
    cursor: pointer;
    color: var(--second);
    /* margin-bottom: 1rem; */
}
.iconeBoutonService{
    font-size: 1rem;
    transition: .3s;
}
.boutonService:hover  .iconeBoutonService{
    transform: translateX(00.5rem);
}


.titreService{
    font-size: 25px;
}

 
.serviceActive{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:  0;
    background-color: rgba(0,0,0,0.8);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.contentServiceActive{
    width: 50%;
    position: relative;
    background-color: var(--first);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}
.iconeClose{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--second);
    transition: .3s;
}  
.iconeClose:hover{
    transition: .3s;
    transform: scale(1.5);
    color: var(--four);
}  
.serviceTitre,
.serviceDescription{
    text-align: center;
}
/* .serviceTitre{
    font-size: 20px;
    font-weight: 800px;
    margin-bottom: 1rem;
} */
.serviceDescription{
    font-style: 15px;
    padding: 0.35rem;
    margin-bottom: 1rem;
}
.serviceList{
    row-gap: .75rem;
}
.serviceListItem{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.iconeServiceList{
    font-size: 1.1rem;
}
.serrviceActiveInfo{
    font-size: .9rem;
}
.active-modal{
    opacity: 1;
    visibility: visible;
}
@media (max-width: 1100px) {
    .serviceContainer{
        grid-template-columns: repeat(3,218px);
        column-gap: 2rem;
    }
    
}
@media (max-width: 900px) {
    .serviceContainer{
        column-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .contenuService{
        margin-top: 3rem;
    }
    .contentServiceActive{
        width: 80%;
        position: relative;
        background-color: var(--first);
        padding: 4.5rem 2.5rem 2.5rem;
    }
}
@media (max-width: 500px) {
    .serviceContainer{
        column-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .contenuService{
        padding: 1rem 1rem 1rem;
    }
    .contentServiceActive{
        width: 90%;
        min-height: 60%;
    }
    .titreService{
        font-size: 15px;
    }
    .boutonService span{
        font-size: 13px;
    }
}