.boutonMenu,
.iconeMenu,
.InformationMenu,
.mask{
    display: none;
    opacity: 0;
    visibility: hidden;
}
@media (max-width: 600px) {
    .boutonMenu,
    .iconeMenu,
    .mask{
        display: block;
        opacity: 2;
        visibility: visible;
    }
    .boutonMenu{
        position: fixed;
        z-index: 10;
        top: 10px;
        left: 10px;
        background-color: var(--first);
        padding: 5px  5px;
        font-size: 20px;
    }

    .InformationMenu{
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
    .InformationMenu.active{
        display: block;
        opacity: 1;
        visibility: visible; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9); 
        z-index: 2;
        transition: all .3s;
        transform: translateX(0%);
        transition: all .3s;
    }
    .information{
        position: absolute;
        top: 100px;
    }
    .information .listNavLink{
        background-color: transparent;
        border: transparent;
        border-radius: 10px;
        width: 100%;
        margin-left: 10%;
        margin-top: 20px;
        border: 1px solid var(--second);
    }
}
