.qualificationContainer{
    max-width: 800px;
}
.qualificationHeader{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.qualificationButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:400;
    color: var(--second);
    padding: 2px;
    margin: 0 40px;
    cursor: pointer;
}
.qualificationButton:hover{
    color: var(--third);
}
.qualificationActive{
    color: var(--third);
}
.qualificationIcone{
    font-size: 1.5rem;
    margin-right:5px ;
}
.qualificationSection{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}
.qualificationContent{
    display: none;
}
.qualificationContent.active{
    display: block;
}
.qualificationData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem
}