.footer {
    width: 100%;
    background-color: rgb(51, 45, 114);
    height: 350px;
    margin: auto;
    padding: 20px
}
.footerContent{
    display: flex;
}
.monInfo{
    flex: 1;

    margin: auto;
}
.reseaux{
    flex: 1;
    margin: auto;
}
.footerbottom{
    margin: auto;
    text-align: center;
}
.listeReseaux{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.legendeListeReseaux{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: "unigeo";
}