
.scrollDown{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}
.scrollName{
    font-size: 40px;
}
.mouse{
    border: 2px solid #fff;
    display: block;
    height: 3rem;
    width: 2rem;
    margin: auto;
    margin-top: .75rem;
    border-radius: 1rem;
    position: relative;

}
@keyframes ani-mouse {
    0%{
        top : 29%
    }
    15%{
        top: 50%
    }
    50%{
        top: 50%;
    }
    100%{
        top: 29%;
    }
}
.whell{
    background-color: #fff;
    border-radius: 50%;
    width: .4rem;
    height: .5rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 1s linear infinite;
}