.projet{
    padding-bottom: 2rem;
}
.imageProjet{
    width: 100%;
    height: auto;
}
.projectContainer{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}
.imageCardProjet{
    width: 50%;
    position: relative;
}
.informationProjet{
    width: 40%;
}
.navProjet{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px double var(--second);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.activeNavProjet{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px double var(--second);
    background-color: var(--second);
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
    margin-right: 50px;
    color: var(--first);
}
.navProjet:hover{
    background-color: var(--second);
    color: var(--first);
}
.navigationProjet{
    display: flex;
    width: 100%;
}
.navProjet{
    margin-right: 50px;
}
.titreProjet{
    font-size: 40px;
    font-family: "winter";
}
.paragrapheProjet{
    padding: 5px;
}
.sectionSousTitre{
    font-size: 30px;
    font-family: "Writingsignature";
    margin-bottom: 1rem;
    letter-spacing: 5px;
    color:var(--second);
    font-weight: bold;
}

@media (max-width : 1150px) {
    .projetCard{
        width: 100%;
        position: relative;
    }
    .projectContainer{
        display: block;
        position: relative;
        width: 96%;
        margin-left: 2%;
    }
    .sectionSousTitre{
        margin-top: 20px;
        position: absolute;
        top: -100px;
        font-size: 18px;
    }
    .imageCardProjet{
        margin-top: 100px;
        width: 100%;
        position: relative;
    }
    .informationProjet{
        width: 100%;
    }
    .navigationProjet{
        margin-top: 30px;
    }
    .titreProjet{
        font-size: 30px;
        font-family: "winter";
    }
}

