.gaucheBar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: var(--first);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.listNavLink{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright span {
    text-align: center;
}
.copyright{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}
.navList{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.iconeLink{
    font-size: 2rem;
    color: var(--second);
}
@media (max-width: 600px) {
    .gaucheBar{
        display: none;
    }
}

.iconeNavBar{
    font-size: 20px;
    color: var(--second);
    border-radius: 50%;
    background-color: var(--backgound);
    padding: 8px;
    object-fit: contain;
}