.mainPrincipale{
    margin-left: 100px;
    overflow-x: hidden;
}
.style{
    position: absolute;
    right: 20px;
    bottom: 40px;
    writing-mode: vertical-lr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 600px) {
    .mainPrincipale{
        margin-left: 0;
    }
}